.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    padding: 5px;
    margin: 3px;
}

.logo{
    width: 9vw;
    height: 12.5vh;
    border-radius: 50%;
    margin: 5px;
    display: inline;
}

.links{
    display: flex;
    align-items: center;
}

.order{
    position: relative;
}

.order, .menu {
  margin: 0 25px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.drop{
    position: absolute;
    top: 68px;
    background: #bab2b5;
    right: 5px;
    min-width: 170px;
    z-index: 1;
}

.menu-item{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 23px;
    color: black;
    border-bottom: 1px solid #eee2dc;
}

.menu-item:hover{
    background-color: #ddd;
}

.order::after{
    content: '';
    width: 0;
    height: 6px;
    background: #ac3b61;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s ease-in-out;
}

.order:hover::after{
    width: 100%;
}